.container {
    position: relative;
    width: 80%;
    margin-top: 1em;
    margin-left: 10%;
}

.grid {
    position: absolute;
    display: flex;
    padding-left: -1em;
}

.column {
    padding-left: 1em;
    background-clip: padding-box;

    > div {
        margin-bottom: 1em;
    }
}

.navBar {
    display: flex;
    justify-content: end;
    padding-right: 0.1em;
}
